body{
    background-color: rgb(218, 204, 216);
}
h1{
    color: rgb(102, 102, 151);
    text-align: center;
    padding: 0px;
}
ul{
    list-style-type: none;
    background-color: rgb(45, 45, 182);
    overflow:  hidden;
    margin: 0%;
    padding: 0%;
}
.menu{
    float: left;
    width: 33%;
}
ul a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
ul a:hover{
    background-color: rgb(11, 11, 87);
}
img{
    width: 400px
    
}
ol{
  font-size: 25px;
}
.centrado{
    display: block;
    margin: auto;
}
dd{
 font-size: 20px;
}
dt{
    font-size: 25px;
}